name: Run Lint and Tests

on:
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                os: [ubuntu-latest, macOS-latest, windows-latest]
                node-version: [22, 24]
        steps:
            - uses: actions/checkout@v6

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}

            - run: npm ci

            - run: npm run lint

            - run: npm test
